 html,body{
height: 100%;
  margin: 0; 
        }
        .navbar{
            color: white;
        }
      .iconhead{
        font-size: 25px;
        animation: animation 2s ease-in-out;
      }

      @keyframes animation{
      
            0% {
      transform: rotate(0deg)
    }
    50% {
      transform: translatey(50vh) rotate(180deg)
    }
    100% {
      transform:  rotate(360deg)
    }

        
       
      }

      .aside{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .main{
      min-height: 93%; /* takes the full viewport height */
  background-image: url("https://bgfons.com/uploads/city/city_texture6477.jpg");
  background-size: cover; /* Scale to cover the area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: brightness(0.7);

      }
      h1,.icon,.bodyp{
        color: white;
       
      }
    h1 {
  font-size: clamp(2rem, 5vw, 5rem);  
  line-height: 1.2;                   
}
      .icon{
        font-size: 15px;
      }
     .body{
        position: relative;
        left: 12%;
        bottom: 80px;
   
     }
     #search{
      margin-right: 0px;
     }
     .bodyp{
      
  width: clamp(200px, 30%, 600px);
}
.btn{
    background-color: rgb(48, 85, 115);
    color: white;
 
    
}
.line{
background-color: white;
width: 3px;
height: 200px;
position: relative;
bottom: 200px;
}

.search{
    position: relative;
    right: 0px;
}

@media (max-width: 767px) {
.travel{
    position: relative;
    right: 70px;
}
.search{
    position: relative;
    left: 0px;
} 
.iconhead{
    position: relative;
    right: 60px;
}

}


@media (max-width: 1400px) { 
    .line{
    background-color: white;
    width: 3px;
   height: 150px;
   position: relative;
   bottom: 100px;
   
}
.aside{
    position: relative;
    bottom: 40px;
}

 }
.linkh{
    margin-right: 45px;
    transition: color 0.5s ease-in-out;
}
.navbar .nav-link.linkh:hover{
    color: aquamarine!important;
}
   .inputgp{
    margin-right: 150px;
   }  
#parent {
    display: grid; /* not 'gird' */
    grid-template-columns: 1fr ; grid-template-rows: 1fr ;
    gap: 20px; /* space between rows */
    margin-top: 10px;
  margin-right: 120px;
  
max-height: 1fr/2;

}
.pic{
  
width: 100%;
 object-fit: cover;
 height: 150px;

}
.desc{
  font-size: 12px;
}
 